
#container-god-img {
  width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}

#div-img-god div {
  display: flex;
  justify-content: center;
  background-color: rgba(47, 4, 61, 0.7);;
  box-shadow: 1.5rem 1.5rem 1.5rem 0.5rem rgba(16, 77, 44, 0.25);
  border-radius: 1rem;
}

#div-img-god div img {
  width: 32.2rem;
  height: 49.9rem;
  border-radius: 1rem;
  text-align: center;
  margin: 4.2rem 4.1rem 2.8rem 4.1rem;
}

.container-god-text {
  width: 70.5rem;
  height: 52.5rem;
  background: rgba(47, 4, 61, 0.7);
  box-shadow: 1.5rem 1.5rem 1.5rem 0.5rem rgba(47, 4, 61, 0.5);
  border-radius: 1rem;
  margin-left: 5rem;
  padding: 2.2rem 4.6rem 6.1rem 4rem;
  transform: rotate(0.3deg);
}

.god-text-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.1rem;
  margin-bottom: 3rem;
  color: #D4D4D4;
}

.god-text-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5.4rem;
  margin-bottom: 6rem;
  color: #D4D4D4;
  text-align: center;
}

.god-text-description {
  font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: justify;
    color: #fff;
    overflow-y: scroll;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  #div-img-god div img {
    width: 25rem;
    height: 38.8rem;
    margin: 2.6rem 2.5rem 1.6rem 2.5rem;
  }

  #container-god-img {
    width: 90%;
    margin: 0 12% 0 2%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
  }

  .container-god-text {
    width: 55rem;
    height: 40rem;
    margin-left: 2rem;
    padding: 2rem 2.8rem 3.8rem 2.8rem;
  }
  .god-text-title {
    font-size: 4rem;
    line-height: 5rem;
  }
  .god-text-subtitle {
    font-size: 3.5rem;
    line-height: 4.2rem;
    margin-bottom: 4rem;
  }
  .god-text-description {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 899px) {

  #div-img-god{
    margin-bottom: 2rem;
  }

  #div-img-god div img {
    width: 20rem;
    height: 31.5rem;
    margin: 2rem 1.9rem 1rem 1.9rem;
  }

  #container-god-img {
    width: 90%;
    margin: 1% 1% 0 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
  }

  .container-god-text {
    width: 550px;
    height: 370px;
    margin-left: 20px;
    padding: 1.8rem 2.6rem 3.6rem 2.6rem;
  }
  .god-text-title {
    font-size: 3.8rem;
    line-height: 5rem;
    margin-bottom: 1rem;
  }
  .god-text-subtitle {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1rem;
  }
  .god-text-description {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {

  #div-img-god{
    margin-bottom: 2rem;
  }

  #div-img-god div img {
    width: 20rem;
    height: 31.5rem;
    margin: 1.8rem 1.7rem 1.8rem;
  }

  #container-god-img {
    width: 90%;
    margin: 1% 1% 1% 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
  }

  .container-god-text {
    width: 43rem;
    height: 37rem;
    margin-left: 2rem;
    padding: 1rem 1.5rem 2rem;
  }
  .god-text-title {
    font-size: 3.8rem;
    line-height: 5rem;
    margin-bottom: 1rem;
  }
  .god-text-subtitle {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1rem;
  }
  .god-text-description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 2rem 1rem 1rem
  }
}

@media screen and (min-width: 300px) and (max-width: 499px) {

  #div-img-god{
    margin-bottom: 2rem;
  }

  #div-img-god div img {
    width: 20rem;
    height: 31.5rem;
    margin: 1.8rem 1.9rem 1.5rem;
  }

  #container-god-img {
    width: 90%;
    height: auto;
    margin: 30% 1% 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
  }

  .container-god-text {
    width: 31rem;
    height: 40rem;
    margin: 0 2rem 0 1rem;
    padding: 1rem 1.5rem 2rem;
  }
  .god-text-title {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 1rem;
  }
  .god-text-subtitle {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1rem;
  }
  .god-text-description {
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin: 1rem;
    padding: 1rem 1rem 1rem 2rem;
  }
}