/*
----------------------------------------------------------------------
LEMBRETES:
1) editar a Logo para diminuir o espaço vazio dela 


------------------------------------------------------------------------
Orientações ao adicionar código HTML/CSS:

1) Quando codar coloque um comentário
 '@autor:nome' no trecho de código para sabermos o autor

2) Ao estilizar um elemento, verifique se já existe um elemento geral
por exemplo, button,input,form, tente padronizar de acordo com isso

3) para situações específicas e elementos único (ex: botão numa cor diferente,
defina uma classe para eles)

4) Ao definir o nome de uma classe use o padrão:
.container-element{} (quando for referente a um elemento que contém vários outros)
.cancel-button{} (um botão específico)

5) Caso tenha dúvida do espaço que um elemento está ocupando adicione:
	outline: solid 2px red;

6) Já existem alguns flex criados, caso precise criar outros siga o padrão:
.flex-row-center (alinhamento em linha, elementos concentrados no centro)
.flex-row-between (alinhamento em linha, elementos com espaçamento entre eles)

7) Ao criar um elemento container(div por exemplo), lembre-se de verificar
os limites dele, sempre procurando usar porcentagem  (%), vh, vw ou rem;

8) Antes de atribuir a dimensão de um elemento, veja se já não existe uma variável 
relacionada aquele elemento

	--------------------------------------------------------------------------
*/

/***************************************************
		IMPORTS
 ***************************************************/

 @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
 /*font-family: 'MedievalSharp', cursive;*/
 
 @font-face {
	 font-family: "Bluu Bold";
	 src: url("../assets/fonts/bluu-next/BluuNext-Bold.otf") format("opentype");
   }
 
 @font-face {
	 font-family: "Bluu Bolditalic";
	 src: url("../assets/fonts/bluu-next/BluuNext-Bolditalic.otf") format("opentype");
   }
 
   @font-face {
	 font-family: "Bluu Titling";
	 src: url("../assets/fonts/bluu-next/BluuNext-Titling.otf") format("opentype");
   }
 
  /************************************************
		 STYLING GLOBAL
 ************************************************/
 /*Mantenha aqui sempre 10px*/
 html {
	 font-size: 10px;
   }
 
 
 
 :root{
	 /**/
	 --color-white:#ffffff;
	 --color-black:#000000;
	 /*Background colors*/
	 --color-bg-header:#140a3db8; /*add opacity: 0.72*/
	 --color-bg-forms-emphasis:#140A3D;/*used in the forms emphasis*/
	 --color-bg-button:#140A3D; /*used in the buttons of 'atualizar','confirmar', etc*/
	 --color-bg-button-hover:#2f1a83; /*'atualizar','confirmar', etc with hover effect*/
	 
	 --color-bg-cancel:#931212;/*used in the buttons of 'cancelar'*/
	 --color-bg-cancel-hover:#b11616;/*used in the buttons of 'cancelar'*/
	 
	 --color-bg-arrow-:#ffffff;/*used in arrow categories */
	 --color-bg-arrow-hover:#ff8e01;/*used in arrow categories with hover*/
 
	 --color-bg-category-1-100p:#815604; /*nature 100% */
	 --color-bg-category-1-70p: #815604b3; /*nature 70% */
	 --color-bg-category-1-40p: #81560466; /*nature 40% */
	 
	 --color-bg-category-2-100p:#0B264F; /*technology 100% */
	 --color-bg-category-2-70p:#0b264fb3; /*technology 70% */
	 
	 --color-bg-category-3-100p:#024324 ; /*health 100% */
	 --color-bg-category-3-70p: #024324b3 ; /*health 70% */
	 
	 --color-bg-category-4-100p:#43064E; /*chaos 100 - 70% */
	 --color-bg-category-4-70p:#43064Eb3; /*chaos 70% */
	 
	 --color-bg-category-5-100p:#6C0000; /*food 100% */
	 --color-bg-category-5-70p:#6C0000b3; /*food 70% */
	 --color-bg-input:#1b0e4ee6;
	 --color-bg-backInput: #d9d9d94d ;/*backInput 30% */
	 
	 /*Font colors*/
	 --color-fonts:#ffffff;
	 --color-font-placeholder:#696767;
 
	/*@autor:letonio (add backgroun to table)*/
	--color-bg-tbody:#89849e;


	 /*Fonts sizes*/
	 /* 1 rem = 10px */
	 --size-font-biggest:15.0rem;
	 --size-font-t1:9.0rem;
	 --size-font-t2:5.0rem; /*tittle card*/
	 --size-font-t3:4.5rem; /*subtittle card*/
	 --size-font-t4:4.0rem; /*inputs emphasis, ex. 'selecionar categoria', subsubtittle card*/
	 --size-font-t5:3.5rem; /*inputs e botoes*/
	 --size-font-t6:3.0rem; 
	 --size-font-t7:2.5rem; /*Description card*/
	 --size-font-t8:2.0rem; /*text card god's description*/
	 --size-font-t9:1.6rem; /*text card god's description*/
	 
	 
	 /*Icons height*/
	 --size-icon-bigger:12.5rem;
	 --size-icon-medium:5.0rem; /*table, perfil*/
	 --size-icon-small:3.5rem; /*search*/
	 --size-icon-smallest:2.0rem; /*search*/
	 
	 
	 /*button dimension*/
	 --height-button: 8.2rem;
	 --width-button:28.0rem;
	 --radius-button:1.5rem;
 
	 /*forms dimensions*/
	 --height-form-bigger:70.0rem;/*maybe we should use % instead px*/
	 --width-form-bigger:120.0rem;/*maybe we should use % instead px*/
	 --height-form-smaller:50.0rem;/*maybe we should use % instead px*/
	 --width-form-smaller:70.0rem;/*maybe we should use % instead px*/
	 
	 /*@autor:letonio (esses valores de width-input estavam muito grandes, modifiquei)*/
	 /*input forms dimensions*/
	 --height-input-bigger:3.0rem;/*maybe we should use % instead px*/
	 --width-input-bigger:50.0rem;/*maybe we should use % instead px*/
	 --height-input-smaller:2.0rem;/*maybe we should use % instead px*/
	 --width-input-smaller:23.0rem;/*maybe we should use % instead px*/
	 
	 /*Images height*/
	 --height-img-god-bigger:50.0rem;/*cards with descriptions*/
	 --width-img-god-bigger:31.2rem;/*cards with descriptions*/
	 --height-img-god-smaller:30.0rem;/*categories page (4 images)*/
	 --width-img-god-smaller:18.5rem;/*categories page (4 images)*/
	 
	 --height-img-building-bigger:60.0rem;/*image of temple with category name*/
	 --width-img-building-bigger:54.0rem;/*image of temple with category name*/
	 --height-img-building-smaller:40.0rem;/*image of temple with category name*/
	 --width-img-building-smaller:36.0rem;/*image of temple with category name*/
	 
	 /*header height*/
	 --height-header:10.0rem;/**/
	 --width-header:100%;/**/
 }
 
 
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: Verdana, Geneva, Tahoma, sans-serif;
	 color:var(--color-fonts);
	 font-size: 1.0rem;
	 
 }
 
 
 body {
	 display: flex;
	 justify-content: center;
	 /* background-image: url('../assets/images/background-space.jpg');*/
	 width: 100vw;
	 height: 100vh;
 }
 
 
 /************************************************
		 STYLING TAGS BY NAME
 ************************************************/
 input{
	 background-color: var(--color-bg-input);
	 border-radius: 1.5rem;
	 height: var(--height-input-smaller);
 }
 
 button{
	 height: var(--height-button);
	 width: var(--width-button);
	 border-radius: var(--radius-button);
	 background-color: var(--color-bg-button);
 }
 
 button:hover{
	 background-color: var(--color-bg-button-hover);
 }
 /************************************************
		 STYLING GENERAL CLASSES
 ************************************************/
 .flex-col-center{
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: flex-start;
 }
 .flex-row-center{
	 display: flex;
	 flex-direction: row;
	 align-items: center;
 }
 .flex-row-between{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
 }
 /*@autor:letonio (adicionei uma categoria flex)*/
 .flex-row-around{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

 .flex-center-center{
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 .cancel-button{
	 background-color: var(--color-bg-cancel);
 }
 .cancel-button:hover{
	 background-color: var(--color-bg-cancel-hover);
 }
 
 
 h1{
	 font-family: 'Bluu Bold', Courier, monospace;
	 font-size: var(--size-font-t1);
	 color:var(--color-fonts);
 }
 
 h2{
	 font-family: 'Bluu Bold', Times, serif;
	 font-size: var(--size-font-t2);
 }
 h3{
	 font-family: 'Bluu Bolditalic', Times, serif;
	 font-size: var(--size-font-t3);
 }
 h4{
	 font-family: 'Bluu Titling', Times, serif;
	 font-size: var(--size-font-t4);
 }
 
/************************************************
		 STYLING BY Gabriela
 ************************************************/

#background-space{ /* @author:Daniel alterado*/
    background: url('../assets/images/background-temple2.png') center center no-repeat, url('../assets/images/background-space.jpg');
	background-size: cover;
}

#background-temple{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;/*tem que ter cuidado ao usar z-index-não estava dando apra clicar no botao*/
} /* @author:Daniel - o background das colunas foi adicionado na classe de cima*/

.main-landing-page { /* @author:Daniel */
	align-items: flex-start;
}

.container-total { /* @author:Daniel */
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 90%;
	margin-top: 1rem;
	padding: 1rem 10rem;
}

#main-tittle{
    /* position: absolute;
    top: 10.5rem;
    left: 17rem; *//* @author:Daniel - comentado porque foi posicionado com auxílio de div*/
    font-family: 'MedievalSharp', cursive;
    font-weight:700;
    font-size: 6.5rem;
	margin: 0 70% 0 1%;
}

#subtittle{
    /* position: absolute;
    top: 22rem;
    left: 33rem; *//* @author:Daniel - comentado porque foi posicionado com auxílio de div*/
    font-size: 4rem;
    font-family: 'MedievalSharp', cursive;
    font-weight:500;
	margin: 0 25% 15rem 3%;
}

#button{
    /* position: absolute;
    bottom: 30rem;
    left: 60rem; *//* @author:Daniel - comentado porque foi posicionado com auxílio de div*/
    background-color: #d9d9d91a;
    border: 3px solid var(--color-white);
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    height: 6.2rem;
    width: 16rem;
	z-index: 2;/*@author:letonio - adicionei um z-index maior para poder clicar no botao*/
}

 /*@author: daniel*/
#button:hover{
	color: var(--color-black);
	background-color:var(--color-white);
}

#main-tittle {
    animation: tittle 2s;
}

@keyframes tittle  {
    100% {
        opacity: 100%;
    }
    75% {
        opacity: 75%;
    }
    
    50% {
        opacity: 50%;
    }
    25% {
        opacity: 25%;
    }
    0% {
        transform: translateX(700px);
        opacity: 0%;
    }
}

#subtittle {
    animation: subtittle 2.5s;
}

@keyframes subtittle  {
    100% {
        opacity: 100%;
    }
    75% {
        opacity: 75%;
    }
    
    50% {
        opacity: 50%;
    }
    25% {
        opacity: 25%;
    }
    0% {
        transform: translateX(700px);
        opacity: 0%;
    }
}

/* @author:Daniel alterado*/
@media only screen and (max-width: 1100px) {

	.container-total {
	  padding: 1rem;
	}
	
	#main-tittle {
	  font-size: 6rem;
	}
	
	#subtittle {
	  font-size: 3.8rem;
	}
	
	#button {
	  font-size: 1.7rem;
	  height: 5.8rem;
	  width: 14.5rem;
	}
  } 

  @media only screen and (max-width: 900px) {
	
	.container-total {
	  padding: 1rem;
	}
	
	#main-tittle {
	  font-size: 5.5rem;
	}
	
	#subtittle {
	  font-size: 3.3rem;
	}
	
	#button {
	  font-size: 1.5rem;
	  height: 5.2rem;
	  width: 13.8rem;
	}
  } 

  @media only screen and (max-width: 800px) {
	
	.container-total {
	  padding: 1rem;
	}
	
	#main-tittle {
	  font-size: 5rem;
	}
	
	#subtittle {
	  font-size: 3rem;
	}
	
	#button {
	  font-size: 1.5rem;
	  height: 4.8rem;
	  width: 13rem;
	}
  } 

  @media only screen and (max-width: 700px) {

	.container-total {
	  padding: 1rem;
	}
	
	#main-tittle {
	  font-size: 4rem;
	  margin-left: 10rem;
	}
	
	#subtittle {
	  font-size: 2.5rem;
	}
	
	#button {
	  font-size: 1.5rem;
	  height: 4.5rem;
	  width: 12rem;
	}
  } 