
/*
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
/*
body {
	display: flex;
	justify-content: center;
	background-color: #1be1ff;
	
	width: 100%;
	height: 100vh;
}*/

#root {
	width: 100%;
	height: 100%;
}

#root {
	width: 100vw;
	height: 100vh;
}




/*
#root div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
h1 {
	margin: 20px 0;
	font-size: 40px;
}
button {
	margin: 10px 10px;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	background-color: #ff1be1;
}
button:hover {
	background-color: rgb(231, 68, 210);
	color: white;
}

img {
	border-radius: 50%;
	height: 250px;
	margin: 20px;
}
p {
	font-size: 20px;
	margin-bottom: 20px;
}

*/


/*CRIANDO UMA CLASSE PARA MODAL*/

.table-modal{
	height: 100vh;;
	width: 100vw;
	background-color:rgba(255, 255, 255, 0.2);
	z-index: 4;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.modal{
	min-width: 25rem;
	max-width: 30rem;
	min-height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #140a3d;
	border-radius: 2rem;
	font-size: 2.5rem;
	border: 2px solid white ;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 2rem;
	transform:  scaleX(0); /* começa com largura zero e centralizado */
  	transition: transform 0.1s ease-out; 
}

.modal.show{
	transform: scaleX(1); 
}

.modal p{
	margin: 4rem;
}

