
/*
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
/*
body {
	display: flex;
	justify-content: center;
	background-color: #1be1ff;
	
	width: 100%;
	height: 100vh;
}*/

#root {
	width: 100%;
	height: 100%;
}


/*
#root div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
h1 {
	margin: 20px 0;
	font-size: 40px;
}
button {
	margin: 10px 10px;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	background-color: #ff1be1;
}
button:hover {
	background-color: rgb(231, 68, 210);
	color: white;
}

img {
	border-radius: 50%;
	height: 250px;
	margin: 20px;
}
p {
	font-size: 20px;
	margin-bottom: 20px;
}

*/


/*CRIANDO UMA CLASSE PARA MODAL*/

.table-modal{
	height: 100vh;;
	width: 100vw;
	background-color: red;
	z-index: 4;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal{
	min-width: 40rem;
	min-height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	border-radius: 2rem;
	z-index: 4;
}
.modal p{
	margin: 4rem;
}
